<div class="container-fluid p-0 text-light position-relative" id="header-contente">
    <app-navbar-default></app-navbar-default>
    <div class="jumbotron text-center bg-transparent position-absolute w-100">
        <h1 class="display-4 m-auto">WE ARE CREATIVE AGENCY</h1>
        <p class="lead ">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <a class="btn btn-light btn-lg mx-1" href="#" role="button">Get Started!</a>
        <a class="btn btn-primary btn-lg mx-1" href="#" role="button">Learn more</a>
    </div>

</div>
