<div class="container-fluid py-5">
    <div class="row px-4 px-md-5">
        <div class="col-6 col-md-3 text-center my-2">
            <i class="material-icons text-primary">important_devices</i>
            <p class="item-val text-light mb-0">206</p>
            <p class="item-title text-light">Item title</p>
        </div>
        <div class="col-6 col-md-3 text-center my-2">
            <i class="material-icons text-primary">important_devices</i>
            <p class="item-val text-light mb-0">206</p>
            <p class="item-title text-light">Item title</p>
        </div>
        <div class="col-6 col-md-3 text-center my-2">
            <i class="material-icons text-primary">important_devices</i>
            <p class="item-val text-light mb-0">206</p>
            <p class="item-title text-light">Item title</p>
        </div>
        <div class="col-6 col-md-3 text-center my-2">
            <i class="material-icons text-primary">important_devices</i>
            <p class="item-val text-light mb-0">206</p>
            <p class="item-title text-light">Item title</p>
        </div>
    </div>
</div>
  