#main-nav>li>a:hover,
#main-nav>li>a:focus,
#main-nav>li.active>a {
    background: 0 0;
    color: #25d2fda6;
    text-decoration: underline;
    transition: 2s;
}

#main-nav>li>a:after {
    content: "";
    display: block;
    background-color: #96251da9;
    height: 2px;
    width: 0%;
    -webkit-transition: .2s width;
    transition: .2s width
}